/* Animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
.slideInLeft {
  animation: slideInLeft 1s ease-in normal;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce {
  animation: bounce 2s;
}

body {
  background: rgb(252, 251, 251);
  margin: 0;
  padding: 30px;
}

* {
  box-sizing: border-box;
}

img {
  width: 200px;
  height: 100px;
}

.bg-image {
  background-image: url('./src/img/me2.jpg');
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.myimage {
  width: 40%;
  height: 40%;
}

.logo {
  width: 200px;
  height: 100px;
}

.btn {
  transition: transform 0.2s;
  color: black;
}

.btn:hover {
  background-color:  rgb(250, 241, 249);
  transform: translateY(-5px);
}

.w3-center {
  display: flex;
  justify-content: center; 
  width: 100%; 
  margin-top: 20px;
}

.w3-col.m6 {
  display: flex;
  justify-content: center;
  width: auto;
}

.skills {
  width: 3%;
  height: 3%;
  border-radius: 50%;
  flex-direction: column;
  margin: 1rem;
  transition: all 0.4s ease-in-out;
}

.skills:hover {
  box-shadow: 0 0 25px #e45460;
}

.proj1 {
  padding: 20px;
}

.project-img {
  width: 400px;
  height: 300px;
  border: 5px solid gold;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.navbar {
  background:white;
}

.nav-link {
  color: black;
  font-weight: bold;
}

.navbar-collapse {
  justify-content: space-around;
}

.projects, .contact {
  text-align: center;
}

.about{
  text-align: center;
  margin-top:20px;
  overflow: hidden;
  background-position-x:left;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.footer {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100px;
  margin-top: 80px;
}

.footer-text {
  color: rgb(228, 167, 88);
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #f5c5f1;
}

.button1:hover {
  background-color: #f5c5f1;
}

.button:hover {
  background-color:  rgb(250, 241, 249);
  transform: translateY(-5px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  color: rgb(55, 35, 231);
}

.button:hover i {
  color: rgb(209, 68, 209);
}

.links {
  color: black;
  text-decoration: none;
}

/* Add smooth scale effect for the project blocks */
.w3-card {
  transition: transform 0.3s ease-in-out;
}

.w3-card:hover {
  transform: scale(1.05);
}


/* Styling for resume button */
.resume-btn {
  border-radius: 25px;
}

.resume-btn:hover {
  transform: scale(1.05); 
}

.resume-btn a {
  color: rgb(40, 14, 184); 
  font-size: 20px; 
}

.resume-btn img {
  width: 40px;  /* Larger icon */
  height: 40px;  /* Larger icon */
  margin-right: 15px;  /* Increase space between icon and text */
}

/* About section */
#about p {
  font-size: 1.2rem; 
  text-align: center; 
  margin-top: 20px;
}

/* Skills Section */
#skills {
  background-color: rgb(245, 245, 245); 
  padding: 30px;  
  border-radius: 15px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  margin-top: 40px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

#skills:hover {
  transform: scale(1.05);  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);  
}

#skills h3 {
  font-size: 2rem;  
  font-weight: bold;
  color: #333;
}

#skills h5 {
  font-size: 1.5rem;  
  font-weight: bold;
  color: #555;
  margin-top: 20px;
}

body {
  background-color: #322B2B;
}

.arrow {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
}

.arrow span {
  display: block;
  width: 1vw;
  height: 1vw;
  border-bottom: 5px solid rgb(14, 13, 13);
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

.arrow.left {
  top: -15%; 
  left: 34%;  
  transform: rotate(-45deg);
  animation-delay: 0s;
}

.arrow.right {
  top: -5%; 
  left: 66%;  
  transform: rotate(45deg); 
  animation-delay: -0.2s;
}

#contact p {
  font-size: 1.2rem; 
  text-align: center; 
  margin-top: 20px;
}

/* Uniform size for project blocks */
.w3-card {
  height: 500px; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  box-sizing: border-box; /
}

.w3-card img.image {
  width: 100%;
  height: 300px;
  object-fit: cover; 
}

